body ,html {
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: helvetica neue,luxi sans,dejavu sans,Tahoma,hiragino sans gb,microsoft yahei,sans-serif;
}

.left{
    height: auto;
    width:770px;
  }
  
.right{
    flex: 1;
    height: auto;
    margin-left: 20px;
}

.content{
    width: 1060px;
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-flow: row;
}

.center{
    padding:20px 0;
    background-color:#e2e2e2;
}


